<!DOCTYPE html>
<html>
<head>
    <title>Highscores</title>
</head>
<body>
    <h1>Top 10 Highscores</h1>
    <table>
        <tr>
            <th>Position</th>
            <th>Time</th>
            <th>Score</th>
        </tr>
        {% for idx, highscore in enumerate(highscore) %}
        <tr>
            <td>{{ idx + 1 }}th</td>
            <td>{{ highscore[1] }}</td>
            <td>{{ highscore[0] }}pts</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
